.errorpage {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorpage h1 {
    font-size: 5em;
    color: white;

}

.errorpage a {
    font-size: 2rem;
    text-decoration: none;
}

.errorpage a:hover {

    color: red;
}