.userInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    background-color: hsl(216, 18%, 10%);
    padding: 20px;
    justify-content: space-evenly;
    margin: 50px 30px;
}

.userInput div {
    margin: 30px;
    text-align: center;
}

.userInput input {


    padding: 0px 20px;
    font-size: 3vh;
    background-color: hsl(216, 18%, 10%);

}

input {
    color: white;
    height: 50px;
    border: hsl(223, 7%, 29%) 1px solid;
    border-radius: 10px;
    margin: 30px 0px;

}


input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    filter: invert(1);
}



input[type="submit"] {
    background-color: hsl(232, 15%, 18%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}