.main {
    margin: 20px 30px;
    padding: 50px;
    background-image: url(./cars-img/land-cruiser.png);
    background-repeat: no-repeat;
    background-position: top 20px right -50px;
    background-size: 60%;

}

.mainButton button {
    margin: 10px 30px;
}

.introText {
    width: 50%;
    margin: 50px 0px;
}














input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.carBrands {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: hsl(228, 21%, 14%);
}

.carBrands img {
    height: 150px;
    width: auto;
    margin: 10px;
    aspect-ratio: auto;
}

.infoSection {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    margin: 2px
}

.infoSection .Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.infoSection .Cards div {
    border: 2px hsl(224, 11%, 31%) solid;
    width: 25vw;
    margin: 15px;
    border-radius: 20px;
    padding: 20px 30px;
}

.infoSection .Cards div img {
    width: 80px;

}