.Rentals #carsDisplay {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    background-color: hsl(233, 20%, 17%);


}



.Rentals #title {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(233, 20%, 17%);
    margin: 0;
    padding: 50px 0 30px 0;
}

.Rentals #title h2,
h4 {
    margin: 0;
}

.Rentals .RentalsInfo {
    display: flex;
    flex-direction: row;
    margin: 0 0 50px 0;
    align-items: center;

}

.Rentals .RentalsInfo div:first-child {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    align-items: center;
}

.Rentals .RentalsInfo>img {
    width: 50%;
    margin: 0 50px;
}

.Rentals .RentalsInfo>div:last-child {
    display: flex;
    flex-direction: column;

}

.Rentals .RentalsInfo>div:last-child>h2 {
    font-size: 7vh;
    width: 80%;
}

.Rentals .RentalsInfo>div:last-child>div {
    display: flex;
    align-items: center;
}

.Rentals .RentalsInfo>div:last-child>div>div {
    margin: 0 20px;

}

.Rentals .RentalsInfo>div:last-child>div>img {
    width: 50px;
    height: 50px;
}