body {
  background-color: hsl(228, 100%, 0%);
  background-image: url(.\assets\cars-img\land-cruiser.png);
  background-repeat: no-repeat;
  background-position: top 5% right -300px;
  background-size: 80%;
  margin: 0;



}

body::-webkit-scrollbar {
  display: none;
}

* {
  color: white;
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-family: 'Orbitron', sans-serif;

}


button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: whitesmoke solid 1px;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 20px;
}

button:hover {
  background-color: gray;

}