.carscards {
    background-color: hsl(216, 18%, 11%);
    padding-top: 30px;
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;

}

.carscards>img {
    width: 300px;
}

.carscards>p {
    background-color: hsl(220, 28%, 9%);
    width: 100%;
    text-align: center;
}

.carscards .carInfo {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.carscards .carInfo div {
    display: flex;
    padding: 0px 10px;
    margin: 10px 0;

}

.carscards .carInfo div img {
    margin: 10px 10px;
    width: 30px;
    height: 30px;
}


.carscards button {
    background-color: hsl(220, 28%, 9%);
    border: white 1px solid;
    border-radius: 0px 0px 20px 0px;
    width: 150px;
    padding: 10px;

}

.carscards button:nth-child(1) {
    background-color: hsl(232, 16%, 19%);
    border-radius: 0px 0px 0px 20px;

}